@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    background-image: url('./photos/portfolio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

#home{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#home #content{
    position: relative;
    margin-top: 13%;
    text-align: center;
}

#home #content img{
    border-style: solid;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    color: white;
}

#home h1{
    color: white;
    font-size: 60px;
    font-family: 'Montserrat';
    font-weight: 900;
}


#about{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#about #card{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}

#about #container{
    padding: 56px 50px;
    width: 50%;
    margin: auto;
    background-color: #15151575;
    color: white;
    border-style: solid;
    border-radius: 15px;
}

#about #container h1{
    color: white;
    text-align: center;
    font-size: 170%;
    font-family: monospace;
}

#about #container p{
    font-family: monospace;
    font-size: 20px;
}

#about #container .skills{
    text-align: center;
}

#about #container .skills img{
    width: 60px;
    height: 60px;
    margin: 0;
    display: inline-block;
}

#contacts{
    background-color: #041014;
    width: 100vw;
    height: 17vh;
    margin: auto;
    position: relative;
}

#contacts #neym{
    font-size: medium;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
}

#contacts #contents{
    overflow: hidden;
}

#footer{
    text-align: center;
    font-family: monospace;
    color: white;
    background-color: black;
}

.link{
    display: flex;
    justify-content: center;
}

.link img{
    width: 60px;
    height: 60px;
}

@media only screen and (max-width: 1920px){
    #contacts #contents{
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1366px){
    #about{
        height: 150vh;
    }

    #contacts #contents{
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1280px){

   #about #container .skills img{
    height: 50px;
    width: 50px;
   } 

   #contacts #contents{
    margin-top: 25px;
   }

   #contacts .link img{
    height: 50px;
    width: 50px;
   }
}

@media only screen and (max-width: 1024px){

    #home #content{
        margin-top: 15%;
    }

    #about{
        height: 150vh;
    }

    #about #container .skills img{
        height: 60px;
        width: 60px;
    }

    #contacts{
        height: 120px;
    }

    #contacts #contents{
        margin-top: 25px;
    }
}

@media only screen and (max-width: 600px){

    #home{
        height: 110vh;
    }

    #home #content{
        margin-top: 25%;
    }

    #home h1{
        font-size: 50px;
    }

    #about{
        height: 150vh;
    }

    #about #container .skills img{
        height: 50px;
        width: 50px;
    }

    #contacts{
        height: 15vh;
    }

    #contacts #contents{
        margin-top: 25px;
    }
}

@media only screen and (max-width: 380px){
    #home{
        height: 100vh;
    }

    #home #content{
        margin-top: 30%;
    }

    #home h1{
        font-size: 40px;
    }

    #about{
        height: 130vh;
    }

    #about #card{
        margin-top: 60px;
        margin-bottom: 40px;
    }

    #contacts{
        height: 100px;
    }

    #contacts #contents{
        margin-top: 15px;
    }
}

/*if you're reading this, just gcash my location. 09082429237 - Joshua C.*/
